body{
    background-color: blue;
    font-family:Arial, Helvetica;
} 
 .assignment{
    display:flex;
    padding: 10px;
    margin: 10px;
    background: lightgrey;
 }

 .assignment img{
     width: 200px;
    padding:10px;
 }

h1{
    color: darkgreen;
    text-align: center;
}